.navbar {
    background-color: #ff7600;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.3);
    gap: 330px;
}

.menu-icon {
    display: flex;
    align-items: center;
    font-size: 38px;
    color: white;
    margin-left: 0px;
}

.navbar-menu {
    display: flex;

    list-style: none;
    gap: 35px;
    color: white;
    font-size: 25px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 35px;
    color: white;
    font-size: 30px;
}




.navbar li {
    cursor: pointer;
}

.navbar-search_icon {
    position: relative;
}

.navbar-search_icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #ff7600;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

